{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
    <ul class="grp-object-tools">
        {% block object-tools-items %}
            <li><a href="start_prerobin" class="grp-state-focus">Start PreROBIN</a></li>
            <li><a href="start_robin" class="grp-state-focus">Start ROBIN</a></li>
            <li><a href="start_idyll" class="grp-state-focus">Start IDYLL</a></li>
            <li><a href="url" class="grp-add-link">Add something</a></li>
            <li><a href="url" target="_blank">View something externally</a></li>
        {% endblock %}
    </ul>
{% endblock %}
