{% extends "admin/base_site.html" %}

{% block stylesheets %}
    {{ block.super }}
    {{ media.css }}
{% endblock %}


{% block content %}
<h1>Refresh base core by unit:</h1>
<form action="{% url "admin:caculation_prerobininput_refresh_base_core" %}" method="post">
	{{ block.super }} 
    {% csrf_token %}
    {{ egret_default_form }}
    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}	
        <br>
    {% endfor %}
    <input type="submit" value="Submit" />
</form>
{% endblock %}